#ppl-*.*
*.a
*.bz2
*.gz
*.lo
*.loT
*.o
*.zip
*~
.#*
.deps
.libs
Makefile
Makefile.in
\#*#
aclocal.m4
autom4te.cache
confdefs.h
config.cache
config.h
config.h.in
config.log
config.status
configure
conftest
conftest.c
libtool
ppl-config.h
ppl-config.h.in
ppl.lsm
ppl.spec
stamp-h
stamp-h.in
stamp-h1
