addcongruences1
affineimage1
ascii_dump_load1.dat
asciidumpload1
bounded1
boundedaffineimage1
bounds1
concatenate1
congruences1
congruencesproduct1
constraints1
constraintsproduct1
contains1
difference1
dimension1
directproduct1
directproduct2
directproduct3
directproduct4
directproduct5
directproduct6
discrete1
disjoint1
dropsomenonintegerpoints1
equals1
frombdshape1
frombox1
fromgrid1
fromoctagonalshape1
frompolyhedron1
fromproduct1
generalizedaffineimage1
intersection1
isempty1
isuniverse1
maxmin1
partiallyreducedproduct1
partiallyreducedproduct2
partiallyreducedproduct3
partiallyreducedproduct4
refinewithcongruences1
refinewithconstraints1
relations1
reverse_congruences1
reverse_congruencesproduct1
reverse_constraints1
reverse_constraintsproduct1
reverse_directproduct1
reverse_shapepreservingproduct1
shapepreservingproduct1
smashproduct1
spacedims1
timeelapse1
topclosed1
topclosure1
upperbound1
