*.aux
*.doxyconf
*.doxyconf-html
*.doxyconf-latex
*.latex-dir
*.log
*.pdf
*.pdf-dir
*.ps
*.ps-dir
*.ps.gz
*.tag
*.tar.gz
Doxyfile.*
ppl-*-html
user-c-interface.tex
user-java-interface.tex
user-ocaml-interface.tex
user-prolog-interface.tex
