Source: ppl
Priority: optional
Maintainer: PPL developers <ppl-devel@cs.unipr.it>
Standards-Version: 3.6.1
Build-Depends: debhelper, binutils, g++ (== 3.4.2), libgmp3-dev (>= 4.1.3)

Package: ppl
Architecture: any
Section: libs
Depends: libgmp3 (>=4.1.3)
Description: The Parma Polyhedra Library (base package)
 The Parma Polyhedra Library (PPL) is a C++ library for the
 manipulation of (not necessarily closed) convex polyhedra and other
 numerical abstractions.  The applications of convex polyhedra include
 program analysis, optimized compilation, integer and combinatorial
 optimization and statistical data-editing.  The Parma Polyhedra
 Library is user friendly (you write `x + 2*y + 5*z <= 7' when you mean
 it), fully dynamic (available virtual memory is the only limitation to
 the dimension of anything), written in standard C++, exception-safe,
 rather efficient, thoroughly documented, and free software.


Package: ppl-dev
Architecture: any
Section: libdevel
Depends: g++ (== 3.4.2), ppl
Recommends: libgmp3-dev
Description: The Parma Polyhedra Library (C++ interface)
 The Parma Polyhedra Library (PPL) is a C++ library for the
 manipulation of (not necessarily closed) convex polyhedra and other
 numerical abstractions.  The applications of convex polyhedra include
 program analysis, optimized compilation, integer and combinatorial
 optimization and statistical data-editing.  The Parma Polyhedra
 Library is user friendly (you write `x + 2*y + 5*z <= 7' when you mean
 it), fully dynamic (available virtual memory is the only limitation to
 the dimension of anything), written in standard C++, exception-safe,
 rather efficient, thoroughly documented, and free software.
 .
 This package provides C++ header files, the static library and
 documentation in various formats.

Package: ppl-c

Package: ppl-c-dev

Package: ppl-gprolog

Package: ppl-sicstus

Package: ppl-swi

Package: ppl-yap

Package: ppl-pwl
