Source: libppl
Section: libs
Priority: optional
Maintainer: PPL developers <ppl-devel@cs.unipr.it>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4), binutils, g++, libgmp3-dev (>= 4.1.3), autoconf, automake1.9, libtool, doxygen, graphviz, glpk, tetex-bin, tetex-extra, xpdf-utils, gs-gpl
Build-Conflicts: automake1.4

Package: libppl
Architecture: any
Depends: libgmp3 (>=4.1.3)
Description: Parma Polyhedra Library: base package
 The Parma Polyhedra Library (PPL) is a C++ library for the
 manipulation of (not necessarily closed) convex polyhedra and other
 numerical abstractions.  The applications of convex polyhedra include
 program analysis, optimized compilation, integer and combinatorial
 optimization and statistical data-editing.  The Parma Polyhedra
 Library is user friendly (you write `x + 2*y + 5*z <= 7' when you
 mean it), fully dynamic (available virtual memory is the only
 limitation to the dimension of anything), written in standard C++,
 exception-safe, rather efficient and thoroughly documented.
 .
 Homepage: http://bugseng.com/products/ppl/

Package: libppl-dev
Architecture: any
Section: libdevel
Depends: libppl, graphviz
Recommends: libgmp3-dev
Suggests: libgmp3-doc
Description: Parma Polyhedra Library: C++ interface
 The Parma Polyhedra Library (PPL) is a C++ library for the
 manipulation of (not necessarily closed) convex polyhedra and other
 numerical abstractions.  The applications of convex polyhedra include
 program analysis, optimized compilation, integer and combinatorial
 optimization and statistical data-editing.  The Parma Polyhedra
 Library is user friendly (you write `x + 2*y + 5*z <= 7' when you
 mean it), fully dynamic (available virtual memory is the only
 limitation to the dimension of anything), written in standard C++,
 exception-safe, rather efficient and thoroughly documented.
 .
 This package provides C++ header files, the static library and
 various formats of the developer documentation.
 .
 Homepage: http://bugseng.com/products/ppl/

Package: libppl-c
Architecture: any
Depends: libppl, libc6
Description: Parma Polyhedra Library: C interface
 The Parma Polyhedra Library (PPL) is a C++ library for the
 manipulation of (not necessarily closed) convex polyhedra and other
 numerical abstractions.  The applications of convex polyhedra include
 program analysis, optimized compilation, integer and combinatorial
 optimization and statistical data-editing.  The Parma Polyhedra
 Library is user friendly (you write `x + 2*y + 5*z <= 7' when you
 mean it), fully dynamic (available virtual memory is the only
 limitation to the dimension of anything), written in standard C++,
 exception-safe, rather efficient and thoroughly documented.
 .
 This package provides the C interface.
 .
 Homepage: http://bugseng.com/products/ppl/

Package: libppl-pwl
Architecture: any
Section: libs
Description: Parma Watchdog Library: C++ library for watchdog timers
 The Parma Watchdog Library (PWL) provides support for multiple,
 concurrent watchdog timers on systems providing setitimer(2).  The
 PWL is currently distributed with the Parma Polyhedra Library (PPL),
 but is totally independent from it.
 .
 Homepage: http://bugseng.com/products/ppl/
